/*Adam Filkor - filkor.org*/
#colorPicker {
    color: #999;
    cursor: move;
    font-size: 11px;
    POSITION: relative;
    background: #000;
    padding-bottom: 8px;
    border: 1px solid #111;
    width: 148px;
    height: 155px;
    z-index: 100;
    display:none;
}
#colorPicker div { 
    margin: 0; 
    padding: 0; 
}
#colorPicker .north { 
    background: #111;
    border-bottom: 1px solid #171717;
}
#colorPicker .north div {
    color: #999;
    float: right;
    padding: 5px 7px;
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
#colorPicker .north div:hover {
    color: #DE83AD;
}
#colorPicker .south {
    margin: 32px 0 0 10px;
    cursor: crosshair;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
#colorPicker .south div {
    background: url('miniCurr.gif') no-repeat;
    position: absolute;
    height: 9px;
    width: 9px;
    z-index: 101;
}
#colorPicker .south img { 
    height: 100%;
    width: 100%;
    position: relative;
    top: -8px;
    left: -1px;
}
#colorPicker #mHEX {
    padding: 5px 0 4px 7px; 
    cursor: text;
    float: left;
}
#colorPicker #mHEX:hover {
    color: #DE83AD;
}
#colorPicker #mSize { 
    cursor:se-resize;
    float:right;
    height:14px;
    left:10px;
    top:-17px;
    width:14px;
}
