* {margin: 0; padding: 0;}
a {text-decoration: none; color:inherit;}
input:focus { outline: none;} /*for chrome inputs*/

html {
    height: 100%;
}

body {
	font-size: 14px;
	font-family: verdana, arial, Helvetica;
    background-color: #5aa;
    min-height: 2000px;
}

input {
    background-color: white;
    border: 1px solid #CCC;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);    
    display: inline-block;
    height: 18px;
    padding: 4px;
    margin-bottom: 9px;
    font-size: 13px;
    line-height: 18px;
    color: #555;
}

/*http://stackoverflow.com/questions/306252/how-to-align-checkboxes-and-their-labels-consistently-cross-browsers*/
label {
    display: block;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 15px;
    text-indent: -15px;
    cursor: pointer;
    
}
input[type="checkbox"] {
    width: 13px;
    height: 13px;
    padding: 0;
    margin:2px;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
}

#header {
	height: 80px;
}

#edit-link {
	display: inline-block;
	margin-bottom: 15px;
}

#subreddit-manager {
	width: 500px;
	margin: 0 auto;
	padding: 12px;
    display:none;
	
	background-color: #eee;
	border-radius: 12px;
	box-shadow:0 0 5px rgba(18,7,6,0.3);
}

#search {
	margin: 0 auto;
	margin-bottom: 20px;
	display: block;
    
    background: url('static/img/search-opa70.png') no-repeat 10px 6px #fcfcfc;
    border: 1px solid #d1d1d1;
    font: bold 13px Arial,Helvetica,Sans-serif;
    color: #303003;
    width: 180px;
    padding: 6px 15px 6px 35px;
    border-radius: 10px;

    
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
}

/*
.tag {
	display: inline-block;
	padding: 2px 5px;
	color: #333;
	
	border: 1px solid #E1E1E8;
	border-radius: 3px;
}
*/

#container {
    /*for centering it on the start (it's dynamic ,and thats the hack)
      see: http://solstice.co.il/blog/2008-02-26/horizontally-centering-content-dynamic-width-css       
     */ 
	display: table; 
	margin: 0 auto;
}

.section {
	width: 220px;
	float: left;
	padding: 10px;
	display: inline-block;
	position: relative; /*close & move btns cause they absolutely positioned*/
}

.section .loaderImg {
    border-radius: 13px;
    opacity: 0.8;
}

.section .title-wrapper{
    padding: 2px 10px; 
    background-color: #eee; 
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(18,7,6,0.3);
}

.title {
	font-size: 1.1em;
	font-weight: bold;
	/*border-bottom: 2px solid #444;*/
	text-align: center;
}

.close {
    position: absolute;
    top: 12px;
    right: 17px;
    cursor: pointer;
}

.close-button {
    width: 11px;
    height: 11px;
    opacity: .0;
}

.section:hover .close-button {
    opacity: .3;
}

.close:hover .close-button{
    opacity: .8;
}

/*move button*/
.move {
    position: absolute;
    top: 12px;
    right: 37px;
    cursor: pointer;
}

.move-button {
    width: 12px;
    height: 12px;
    opacity: .0;
}

.section:hover .move-button {
    opacity: .3;
}

.move:hover .move-button{
    opacity: .8;
}


.items-list{
	display: none;
}

.items-list>li {
	border-radius: 10px;
	background-color: #eeeeee;
	padding: 10px 10px 5px 10px;
	margin-top: 10px; /*3px*/
	list-style-type: none;
	min-height: 30px;
	box-shadow:0 0 8px rgba(18,7,6,0.3);
	word-wrap: break-word;
}

.items-list>li.comment-box{
    border-radius: 30px;
    padding: 18px;
}

.items-list>li.comment-box p{
    padding: 5px 0;
}

.items-list>li.comment-box a{
    color: blue;
}

/* reddit info */

.items-list>li .reddit-info {
	list-style-type: none;
	font-weight: bold;
	font-size: 0.9em;
	padding-top: 1em;
}

.items-list>li .reddit-info li {
	float:left;
}

.items-list>li .reddit-thumbnail {
	margin: 0 7px 7px 0;
	border-radius: 5px;
}

.items-list>li .reddit-info li.reddit-score {
	padding: 2px 7px 2px 7px;
	display: block;
	

	border-radius: 4px;
	line-height: 19px;
	font-size: 1em;
	/*
	font-family: Arial;
	font-weight: 400;	
	*/
}
.items-list>li .reddit-info .comment-icon-wrapper {
    float: right;
}
.items-list>li .reddit-info .comment-icon {
	width: 16px;
	opacity: 0.2;
	cursor: pointer;
	margin-right: 9px;
}

.items-list>li .reddit-info .comment-icon:hover {	
	opacity: 0.8;
}

.items-list>li .reddit-info .reddit-movie {
	width: 15px;
	margin-left: 10px;
	opacity: 0.2;
	margin-top: 4px;
}

.items-list>li .reddit-info .reddit-movie:hover {
	opacity: 0.8;
}

.items-list>li .reddit-info .reddit-text {
	width: 12px;
	margin-left: 10px;
	opacity: 0.2;
	margin-top: 4px;
}

.items-list>li .reddit-info .reddit-text:hover {
	opacity: 0.8;
}

.items-list>li .reddit-info .reddit-picture {
	width: 16px;
	margin-left: 10px;
	opacity: 0.2; 
	margin-top: 5px;
}

.items-list>li .reddit-info .reddit-picture:hover {
	opacity: 0.8;
}


.comment-box .comment-info {
    margin-bottom: 10px;
    height: 25px;
    opacity: 0.9;
}

.comment-box .comment-info .big-comment-icon {
    width: 22px;
}

.comment-box p{
    font-size: small;
}

.comment-box ul{
    margin: 10px;
    list-style: disc outside;
}

.comment-box .comment-social {

}

.comment-box .comment-username {
    color: #336699;
    font: normal x-small verdana, arial, Helvetica;
    font-weight: bold;
    
}

.comment-box .comment-points {
    color: #666;
    font: normal x-small verdana, arial, Helvetica;
}


#hide-button {
    position: absolute;
    top: 0;
    right: 105px;
    z-index: 100;
    margin: 18px;    
}
/* settings */
#settings-button {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 100;
	margin: 18px;
}

#settings {
    width: 260px;
    min-height: 360px;
    position: absolute;
    top: 40px;
    right: 0;
    z-index: 100;
    margin: 18px;
    padding: 20px;
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(18,7,6,0.3);
    visibility: hidden;
}


#settings .ui-state-focus{
    outline: none; /*jQuery accordion using outline for some reason..turn this off*/
}

#settings-accordion{
    font-size: 0.8em;  
}

#settings-accordion p{
    line-height: 19px;
    padding-bottom: 10px;
}

#settings-accordion div {
    
}

#settings-accordion .selected{
    color: #444;
}


#settings h1{
    border-bottom: 1px solid #ddd;
    font-size: 1.3em;
    font-weight: bold;
    padding-bottom: 4px;  
}

#settings h3{
    font-size: 1.1em;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 10px;
    border-top: 1px solid #ddd;  
}

#settings .savebutton {
    display: block;
    margin: 6px auto;
}


#albumUrlInput {
    width: 200px;
    margin: 15px auto;
    margin-bottom: 5px;
    display: block;
}
#albumSuccessLoader {
    text-align: center;
    display: none;
}

#saveAlbumBtn {
    width: 100px;
}

#BackImgInput {
    width: 200px;
    margin: 15px auto;
    margin-bottom: 5px;
    display: block;
}

#saveSingleBtn {
    width: 200px;
}

#SingleImgSuccess {
    text-align: center;
    display: none;
    
}

#saveColorBtn {
    position: relative;
    text-align:center;
    width: 7em;
    top: -147px;
    left: -82px;
}

#moreColorfulBtn {
    width: 70px;
}

#colorfulnessSuccess {
    text-align: center;
    display: none;    
}



/**
 * CSS definitions for custom typeahead (subreddit search box) 
 */
.subreddit-tags {

}
.subreddit-tags.bottom-up {
  top: auto;
  bottom: 100%;
  margin-bottom: 2px;
}
.subreddit-tags .divider {
  height: 1px;
  margin: 5px 1px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
  *width: 100%;
  *margin: -5px 0 5px;
}

.subreddit-tags li {
    display: inline-block;
    
    color: #333;
    
    border: 1px solid #E1E1E8;
    border-radius: 3px;
    margin: 2px;
    cursor: pointer;
    
}

.subreddit-tags li:hover{
    border: 1px solid #ccc;
    
}

img.checkImg {
    opacity: 0.6;
    width: 15px;
    margin-left: 5px;
}

img.crossImg {
    opacity: 0.6;
    width: 12px;
    margin-left: 5px;
    margin-right: 3px;
}

.unsubscribed {
    padding: 3px 6px;
    background-color: #F7F7F9;
}

.subscribed {
    padding: 3px 20px 3px 6px;
    background-color: #CAFF70;
    background: #CAFF70 url('static/img/check-paddRight.png') no-repeat right center; 
    background-size: 18px;
}

.subscribed:hover {
    padding: 3px 20px 3px 6px;
    background-color: #CAFF70;
    background: #CAFF70 url('static/img/cross-paddRight.png') no-repeat right center; 
    background-size: 15px;
    opacity:0.7;
}

.subscribed-noimg {
    padding: 3px 6px 3px 6px;
    background-color: #CAFF70;
}

.subscribed-noimg:hover {
    padding: 3px 6px 3px 6px;
    background-color: #CAFF70;
    opacity:0.7;
}
/*!!!!CSS definitions for custom typeahead (subreddit search box) ENDS !!!!**/


@media screen and (max-width: 480px) {
    
    body {
        font-size: 18px;
    }

    .button {
        font-size: 18px;
    }

    #hide-button {
        display: none;
    }

    #subreddit-manager {
        width: 400px;
    }
    .subreddit-tags li {
        font-size: 22px;
        margin: 3px;
    }    
    
    .section {
        width: 215px;
    }
    
    .items-list>li .reddit-info .comment-icon {
        width: 25px;
    }     
    
    #settings-button {
       margin: 5px;         
    }
    #edit-link {
        position: relative;
        top: 0;
        right: 135px;
        z-index: 100;
        margin: 5px;
    } 
    #header {
        height: 0px;
    }       
}

@media screen and (max-width: 320px) {
    
    body {
        font-size: 18px;
    }

    .button {
        font-size: 18px;
    }

    #hide-button {
        display: none;
    }

    #subreddit-manager {
        width: 280px;
    }
    
    .section {
        width: 280px;
    }
    
    .items-list>li .reddit-info .comment-icon {
        width: 25px;
    }
    
    .subreddit-tags li {
        font-size: 22px;
        margin: 3px;
    }
    
    #settings-button {
       margin: 5px;         
    }
    #edit-link {
        width: 140px;
        position: relative;
        top: 0;
        right: 66px;
        z-index: 100;
        margin: 5px;
    }
    #header {
        height: 0px;
    }
}
